<?xml version="1.0"?>
<config>
    <modules>
        <Conlabz_CrConnect>
            <version>2.2.3</version>
        </Conlabz_CrConnect>
    </modules>
    <global>
        <translate>
            <modules>
                <Conlabz_CrConnect>
                    <files>
                        <default>Conlabz_CleverReach.csv</default>
                    </files>
                </Conlabz_CrConnect>
            </modules>
        </translate>
        <helpers>
            <crconnect>
                <class>Conlabz_CrConnect_Helper</class>
            </crconnect>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber>Conlabz_CrConnect_Block_Adminhtml_Newsletter_Subscriber</newsletter_subscriber>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <newsletter>
                <rewrite>
                    <subscriber>Conlabz_CrConnect_Model_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter>
            <crconnect>
                <class>Conlabz_CrConnect_Model</class>
            </crconnect>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <Conlabz_CrConnect_observer>
                        <type>singleton</type>
                        <class>crconnect/website_observer</class>
                        <method>trackingCodeCheck</method>
                    </Conlabz_CrConnect_observer>
                </observers>
            </controller_front_init_before>
            <customer_session_init>
                <observers>
                    <Conlabz_CrConnect_observer>
                        <type>singleton</type>
                        <class>crconnect/customer_observer</class>
                        <method>session_init</method>
                    </Conlabz_CrConnect_observer>
                </observers>
            </customer_session_init>     
            <checkout_onepage_controller_success_action>
                <observers>
                    <Conlabz_CrConnect_observer>
                        <type>singleton</type>
                        <class>crconnect/checkout_observer</class>
                        <method>success_action</method>
                    </Conlabz_CrConnect_observer>
                </observers>
            </checkout_onepage_controller_success_action>     
            <customer_delete_before>
                <observers>
                    <Conlabz_CrConnect_observer_2>
                        <type>singleton</type>
                        <class>crconnect/customer_observer</class>
                        <method>customer_deleted</method>
                    </Conlabz_CrConnect_observer_2>
                </observers>
            </customer_delete_before>     
            <admin_system_config_changed_section_crroot>
                <observers>
                    <catalogindex>
                        <class>crconnect/observer</class>
                        <method>initCr</method>
                    </catalogindex>
                </observers>
            </admin_system_config_changed_section_crroot>
        </events>
        <rewrite>
            <Conlabz_CrConnect_manage>
                <from><![CDATA[#^/newsletter/manage#]]></from>
                <to>/crconnect/manage</to>
            </Conlabz_CrConnect_manage>
            <Conlabz_CrConnect_new>
                <from><![CDATA[#^/newsletter/subscriber#]]></from>
                <to>/crconnect/hook</to>
            </Conlabz_CrConnect_new>
            <Conlabz_CrConnect_confirm>
                <from><![CDATA[#^/newsletter/subscriber#]]></from>
                <to>/crconnect/hook</to>
            </Conlabz_CrConnect_confirm>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <crconnect>
                <use>standard</use>
                <args>
                    <module>Conlabz_CrConnect</module>
                    <frontName>crconnect</frontName>
                </args>
            </crconnect>
            <customer>
                <args>
                    <modules>
                        <Conlabz_CrConnect before="Mage_Customer">Conlabz_CrConnect</Conlabz_CrConnect>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <crconnect>
                    <file>crconnect.xml</file>
                </crconnect>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Conlabz_CrConnect>
                    <files>
                        <default>Conlabz_CleverReach.csv</default>
                    </files>
                </Conlabz_CrConnect>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <crroot translate="title" module="customer">
                                            <title>Cleverreach Settings</title>
                                            <sort_order>50</sort_order>
                                        </crroot>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <check_forms_ids>
                        <type>singleton</type>
                        <class>crconnect/observer</class>
                        <method>configSave</method> 
                    </check_forms_ids>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>

    </adminhtml>
    <admin>
        <routers>
            <crconnect>
                <use>admin</use>
                <args>
                    <module>Conlabz_CrConnect</module>
                    <frontName>crconnect</frontName>
                </args>
            </crconnect>
        </routers>
    </admin>
</config>
